button {
    background-color: #b3902d;
    border-color: #b3902d;  
    border-width: 2px; 
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    a {
        text-decoration: none;
        font-size: 18px;
        color: white;
    }
    &:hover {
        cursor: pointer;
        // transform: scale(1.1);
    }
}
.sign-up-button {
    background-color: #a07c18;
    border-color: #a07c18;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    width: 150px;
    &:hover {
        background-color: #b3902d;
        border-color: #b3902d;        
    }
}

.buttonfx {
    background: transparent;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-color: #dfb53f;
    margin-top: 10px;
    // a:hover {
    //     color: black;
    // }
    a {
        text-transform: uppercase;
    }
}

.buttonfx:before,
.buttonfx:after{
content: '';
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
height: 100%;
background:#dfb53f; /* onhover background color */
transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
transition: all .5s;
}

.slideleft:after{
top: 0;
z-index: -1;
transform: translate3D(-101%,0,0);
}

.slideleft:hover:after{
transform: translate3D(0,0,0);
transition: all .5s;
}