.events {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
    position: relative;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    @media(min-width:992px) {
        flex-direction: row;
        align-items: initial;
    }
    h2 {
        color: white;
        margin-top: 0;
    }
    p {
        max-width: 500px;
        font-size: 14px;
        line-height: 21px;
    }
    
    

    

    .watermark-number {
        display: none;
        @media(min-width: 992px) {
            display: block;
            font-family: 'futura', sans-serif;
            position: absolute;
            font-size: 300px;
            top: 0;
            left: 350px;
            opacity: .1;
        }
        
    }
    
    .image {
        // display: none;
        
            // display: block;
            img {
                position: relative;
                z-index: 1;
                width: 300px;
                margin-bottom: 20px;
                @media(min-width: 992px) {
                    margin-bottom: 0;
                }
            }
            .triangle2 {
                position: absolute;
                left: -437px;
                width: 414px;
                top: 0;
                opacity: .3;
                display: none;
                @media(min-width: 992px) {
                    display: block;
                }
            }
        
        .white-box {
            img {
                position: absolute;
                top: 39px;
                right: -15px;
                z-index: 0;
                display: none;
                @media(min-width: 992px) {
                    display: block;
                }
            }
        }
        
    }
    
    
}



  