#sign-up {
    max-width: 1500px;
    margin: auto;
    img {
      object-fit: cover;
      object-position: right;
    }
}
#contact {
    margin: 12vh auto 8vh;
    padding: 0 70px;
    margin-right: 0;
    @media (max-width: 640px) {
      padding: 0 20px !important;
    }
    @media screen and (max-width: 1080px) {
      padding: 0 40px;
    }
    .tryouts {
      position: relative;
        h1 {
            font-family: 'roboto-light', sans-serif;
            margin-top: 10px;
            font-size: 30px;
        }
        p {
          color: black;
        }
    }
    h3 {
      padding: 0 20px;
      margin: 40px 0;
      max-width: 900px;
    }
    .input {
      background-image: none !important;
      background-color: #f0f8fe;
      width: -webkit-fill-available;
      height: 40px;
      margin: 10px 0;
      font-size: 15px;
      padding: 0 10px;
      border: none;
    }
    input:-internal-autofill-previewed {
      background-color:  #ddb33e !important;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      @media(min-width: 400px) {
        flex-wrap: nowrap;
      }
    }
    .address {
      display: flex;
      flex-flow: wrap;
      .group {
        flex-basis: 100%;
        @media(min-width: 400px) {
          flex-basis: 33%;
        }
      }
      .state {
        flex-basis: 5%;
        input {
          max-width: 40px;
          padding-left: 25px;
          font-size: larger;
        }
      }
    }
    .group {
      width: -webkit-fill-available;
      margin-bottom: 15px;
      padding-right: 8px;
      @media(min-width: 992px) {
        padding-right: 20px;
      }
      
    }
    textarea {
      height: 150px !important;
      padding: 10px !important;
    }
    button {
      margin-top: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }


.home {
  #contact {
    position: relative;
    label, h1, p {
      color: black;
    }
  }
}
#weight {
  width: 73px !important;
  display: block;
}