@import 'header';
@import 'hero';
@import 'fonts';
@import 'button';
@import 'testimonial';
@import 'footer';
@import 'staff-section';
@import 'forms';
@import 'events';
@import 'tournaments';

body {
    margin: 0;
    a {
        text-decoration: none;
    }
    p {
        color: white;
        line-height: 25px;
        font-family: sans-serif;
        font-size: 20px;
    }
}

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

ul {
    padding: 0;
    margin: 0;
}

.triangle-up {
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    opacity: 0.1;
    border-left: 500vw solid transparent;
    border-bottom: 3748px solid #d5a83b;
    @media(min-width: 400px) {
        border-bottom: 3395px solid #d5a83b;
    }
    @media(min-width: 500px) {
        border-bottom: 3058px solid #d5a83b;
    }
    @media(min-width: 992px) {
        opacity: .3;
        border-left: 92vw solid transparent;
        border-bottom: 1900px solid #d5a83b;
    }
  }

  h1, h2, h3, h4, h5, h6 {
      font-family: 'roboto', sans-serif !important;
      text-transform: uppercase;
  }

  p, label {
      font-family: 'roboto-light', sans-serif !important;
  }

  .__lpform_name_icon {
      display: none;
  }

