@media (min-width: 500px) {
  nav {
    background-color: black;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    /* Styling the hamburger lines */
  }
  nav img {
    width: 60px;
    padding: 20px 0 20px 40px;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 20px;
  }
  nav ul li {
    list-style: none;
    color: white;
    margin-right: 30px;
    font-size: 18px;
  }
  nav ul li a {
    color: white;
    font-family: 'roboto-light', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
  }
  nav .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 43px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  nav .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  nav .menu-btn.close .btn-line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  nav .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  nav .menu-btn.close .btn-line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
            transform: rotate(-45deg) translate(7px, -6px);
  }
}

.web-logo {
  width: 50px;
  height: 50px;
  padding: 20px 20px 20px 35px;
}

@media (min-width: 500px) {
  .web-logo {
    display: none;
  }
}

@media (max-width: 499px) {
  header {
    background-color: black;
  }
  header .nav-item {
    padding-bottom: 20px;
  }
  header .nav-item .nav-link {
    text-transform: uppercase;
    color: white;
    font-family: 'roboto', sans-serif;
  }
  /* Styling the menu button */
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  /* Styling the hamburger lines */
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  /* Adding tranform to the X */
  .menu-btn.close {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  /* Styling the three lines  
        to make it an X */
  .menu-btn.close .btn-line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .menu-btn.close .btn-line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
            transform: rotate(-45deg) translate(7px, -6px);
  }
  /* Styling the position of the menu icon */
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    visibility: hidden;
  }
  .menu.show {
    visibility: visible;
    padding: 20px 0 0 35px;
    height: 100vh;
    background-color: black;
  }
  /* Adding a transition delay to the 
    4 items in the navigation menu */
  .nav-item:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .nav-item:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-item:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-item:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .portrait {
    padding-bottom: 30px;
  }
  .portrait img {
    width: 50px;
    height: 50px;
  }
}

.hero {
  background-color: #131313;
  width: 100vw;
  position: relative;
  z-index: 1;
}

.hero .container {
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media (min-width: 768px) {
  .hero .container {
    padding: 60px 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero .container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 250px;
}

@media screen and (min-width: 768px) {
  .hero .container img {
    width: 400px;
  }
}

.hero .container .hero-content {
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .hero .container .hero-content {
    width: 42%;
    padding: 50px;
    text-align: left;
  }
}

.hero .container .hero-content h1, .hero .container .hero-content p {
  font-family: 'roboto-light', sans-serif;
  color: white;
}

.hero .container .hero-content h1 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  font-weight: 500;
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
  .hero .container .hero-content h1 {
    font-size: 60px;
    text-align: left;
    font-size: 4em;
  }
}

.hero .container .hero-content p {
  font-size: 16px;
}

.hero button {
  margin-top: 5px;
  background-color: #c43a3a;
  border-color: #c43a3a;
}

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

button {
  background-color: #b3902d;
  border-color: #b3902d;
  border-width: 2px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
}

button a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

button:hover {
  cursor: pointer;
}

.sign-up-button {
  background-color: #a07c18;
  border-color: #a07c18;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  width: 150px;
}

.sign-up-button:hover {
  background-color: #b3902d;
  border-color: #b3902d;
}

.buttonfx {
  background: transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-color: #dfb53f;
  margin-top: 10px;
}

.buttonfx a {
  text-transform: uppercase;
}

.buttonfx:before,
.buttonfx:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #dfb53f;
  /* onhover background color */
  -webkit-transform: translate3D(0, -100%, 0);
          transform: translate3D(0, -100%, 0);
  /* move elements above button so they don't appear initially */
  -webkit-transition: all .5s;
  transition: all .5s;
}

.slideleft:after {
  top: 0;
  z-index: -1;
  -webkit-transform: translate3D(-101%, 0, 0);
          transform: translate3D(-101%, 0, 0);
}

.slideleft:hover:after {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.testimonials .testimonial-box {
  width: 55vw;
  height: 300px;
  background-color: #131313;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 50px;
  -webkit-box-shadow: 6px 6px 20px;
          box-shadow: 6px 6px 20px;
}

.testimonials .testimonial-box .quote {
  font-size: 200px;
  font-family: cursive;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 52px;
  margin-top: -77px;
  margin-left: -20px;
}

.testimonials .testimonial-box .quote, .testimonials .testimonial-box p {
  color: white;
}

footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 500px) {
  footer {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

footer li {
  list-style: none;
  margin-bottom: 8px;
  text-align: center;
}

@media (min-width: 500px) {
  footer li {
    text-align: left;
  }
}

footer li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: 'roboto-light', sans-serif;
}

footer hr {
  width: 73vw;
  border-width: .5px;
  margin: 20px 0;
}

@media (min-width: 500px) {
  footer hr {
    display: none;
  }
}

footer .middle-footer {
  position: absolute;
}

footer .right-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  footer .right-footer {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

footer .right-footer img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

footer .right-footer p {
  margin-bottom: 0;
  margin-top: 5px;
  color: white;
  font-family: 'roboto-light', sans-serif;
}

.staff-section .staff-member, .staff-section .staff-member-2 {
  padding-top: 40px;
  background-color: #f3f3f3;
}

.staff-section .staff-member .staff, .staff-section .staff-member-2 .staff {
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.staff-section .staff-member .staff h1, .staff-section .staff-member-2 .staff h1 {
  font-size: 48px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.staff-section .staff-member .staff h2, .staff-section .staff-member-2 .staff h2 {
  font-size: 35px;
  margin: 10px 0 25px 0;
  font-weight: 100;
}

.staff-section .staff-member .staff button, .staff-section .staff-member-2 .staff button {
  width: 200px;
  background-color: #3f85c1;
  color: white;
  border-color: #3f85c1;
  text-transform: uppercase;
  font-weight: bolder;
}

.staff-section .staff-member .staff .bio-paragraph, .staff-section .staff-member-2 .staff .bio-paragraph {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 19vw;
  height: 0;
  width: 0;
}

.staff-section .staff-member .staff .active, .staff-section .staff-member-2 .staff .active {
  -webkit-animation: slidein 2s;
          animation: slidein 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.staff-section .staff-member .staff .clicked, .staff-section .staff-member-2 .staff .clicked {
  opacity: 1;
  visibility: visible;
  height: 35%;
  width: 35%;
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff-section .staff-member-2 {
  background-color: white;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 74%;
  }
}

@keyframes slidein {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 74%;
  }
}

#sign-up {
  max-width: 1500px;
  margin: auto;
}

#contact {
  margin: 12vh auto 8vh;
  padding: 0 70px;
  margin-right: 0;
}

@media (min-width: 992px) {
  #contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-gap: 308px;
  }
}

@media (max-width: 640px) {
  #contact {
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 1080px) {
  #contact {
    padding: 0 40px;
  }
}

#contact .tryouts {
  position: relative;
}

#contact .tryouts h1 {
  font-family: 'roboto-light', sans-serif;
  margin-top: 10px;
  font-size: 30px;
}

#contact .tryouts p {
  color: black;
}

#contact h3 {
  padding: 0 20px;
  margin: 40px 0;
  max-width: 900px;
}

#contact .input {
  background-image: none !important;
  background-color: #f0f8fe;
  width: -webkit-fill-available;
  height: 40px;
  margin: 10px 0;
  font-size: 15px;
  padding: 0 10px;
  border: none;
}

#contact input:-internal-autofill-previewed {
  background-color: #ddb33e !important;
}

#contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 400px) {
  #contact .wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#contact .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

#contact .address .group {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 400px) {
  #contact .address .group {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

#contact .address .state {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

#contact .address .state input {
  max-width: 40px;
  padding-left: 25px;
  font-size: larger;
}

#contact .group {
  width: -webkit-fill-available;
  margin-bottom: 15px;
  padding-right: 8px;
}

@media (min-width: 992px) {
  #contact .group {
    padding-right: 20px;
  }
}

#contact textarea {
  height: 150px !important;
  padding: 10px !important;
}

#contact button {
  margin-top: 20px;
}

#contact button:hover {
  cursor: pointer;
}

.home #contact {
  position: relative;
}

.home #contact label, .home #contact h1, .home #contact p {
  color: white;
}

#weight {
  width: 73px !important;
  display: block;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 50px 20px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .events {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

.events h2 {
  color: white;
  margin-top: 0;
}

.events p {
  max-width: 500px;
  font-size: 14px;
  line-height: 21px;
}

.events .watermark-number {
  display: none;
}

@media (min-width: 992px) {
  .events .watermark-number {
    display: block;
    font-family: 'futura', sans-serif;
    position: absolute;
    font-size: 300px;
    top: 0;
    left: 350px;
    opacity: .1;
  }
}

.events .image img {
  position: relative;
  z-index: 1;
  width: 300px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .events .image img {
    margin-bottom: 0;
  }
}

.events .image .triangle2 {
  position: absolute;
  left: -437px;
  width: 414px;
  top: 0;
  opacity: .3;
  display: none;
}

@media (min-width: 992px) {
  .events .image .triangle2 {
    display: block;
  }
}

.events .image .white-box img {
  position: absolute;
  top: 39px;
  right: -15px;
  z-index: 0;
  display: none;
}

@media (min-width: 992px) {
  .events .image .white-box img {
    display: block;
  }
}

.tournaments {
  background-color: #242424;
  -webkit-box-shadow: 1px 1px 16px 4px black;
          box-shadow: 1px 1px 16px 4px black;
  position: relative;
  padding: 30px 10px;
  margin: 50px 0 0 0;
}

.tournaments h2 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.tournaments .sections {
  text-align: -webkit-center;
}

@media (min-width: 992px) {
  .tournaments .sections {
    margin: auto;
    justify-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 35px;
  }
}

.tournaments .sections .section {
  max-width: 250px;
  text-align: center;
}

.tournaments .sections .section p {
  text-align: center;
}

.tournaments img {
  width: 250px;
  border-radius: 6px;
}

.tournaments img:hover {
  -webkit-box-shadow: 5px 4px 11px black;
          box-shadow: 5px 4px 11px black;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
}

body p {
  color: white;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 20px;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

.triangle-up {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  opacity: 0.1;
  border-left: 500vw solid transparent;
  border-bottom: 2000px solid #d5a83b;
}

@media (min-width: 400px) {
  .triangle-up {
    border-bottom: 2000px solid #d5a83b;
  }
}

@media (min-width: 500px) {
  .triangle-up {
    border-bottom: 2000px solid #d5a83b;
  }
}

@media (min-width: 992px) {
  .triangle-up {
    opacity: .3;
    border-left: 92vw solid transparent;
    border-bottom: 1021px solid #d5a83b;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'roboto', sans-serif !important;
  text-transform: uppercase;
}

p, label {
  font-family: 'roboto-light', sans-serif !important;
}

.__lpform_name_icon {
  display: none;
}
/*# sourceMappingURL=style.css.map */